//
   Created by christopherfricke on 3/28/15.

extends layout
block content
   header
      h1= title

   each route in docs
      section
         header
            h2
               span=route.title+' - '
               a(href=route.route)=route.route
         div
            p=route.description

         if (route.input != null)
            div
               h3='Input'
               code=JSON.stringify(route.input, null, 4)

         if (route.response != null)
            div
               h3='Response'
               code=JSON.stringify(route.response, null, 4)



